/* css file for miikanissi.com by Miika Nissi */

/* define color variables */
:root 
{
	--color0: #1d2021;
	--color1: #ebdbb2;	
	--color2: #7ADAFA;
	--color3: #FAE97A;
	--color4: #A17AFA;
	--color5: #AF9FD6;
	--color6: #3c3c3c;
	--color7: #ffe700;
  --color8: #353A3c;
}

/* navigation bar */
nav li
{
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 25%;
}

nav a
{
  background: var(--color6);
  color: var(--color4);
  display: block;
  font: bold 16px/50px sans-serif;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
}

nav ul
{
  background: var(--color6);
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

nav .dropdown:after {
    content: ' \25bc';
}

nav li:hover a
{
  background: var(--color8);
}

nav li ul
{
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}

nav li:hover ul
{
  opacity: 1;
  top: 50px;
  visibility: visible;
}

nav li ul li
{
  width: 100%;
}

nav li ul a:hover
{
  background: var(--color8);
}

h1
{
	color: var(--color2);
	font-weight: Bold;
	text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
	text-align: center;
	margin-bottom: 1em;
}

h1 img
{
	height: 1em;
}

h2
{
	color: var(--color3);
	font-weight: normal;
}

h2 img
{
	height: 1em;
}

h3
{
	color: var(--color1);
}

h3 img
{
	height: 1em;
}

body
{
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	background: var(--color0);
	color: var(--color1);
	padding: 1em;
}

a
{
	color: var(--color4);
	text-decoration: none;
}

a:hover
{
	color: var(--color5);
}

a:hover img 
{
	background: rgba(0, 0, 0, 0);
	transition: .4s;
	transform: scale(2, 2);
}

pre, code
{
	background: var(--color6);
	border: 0;
	color: var(--color3);
  display: inline-block;
}
code
{
	overflow-x: auto;
}

.even, .odd
{
	min-height: 300px;
	text-align: left;
}

.even img
{
	padding-top: 1em;
	float: right;
	max-width: 88%;
	max-height: 225px;
	padding: 20px;  
}
.odd img
{
	padding-top: 1em;
	float: left;
	max-width: 88%;
	max-height: 225px;
	padding: 20px;
}

footer
{
	clear:both;
	text-align: center;
	padding-top: 2em;
  font-size: large;
}
footer strong
{
	font-weight:bold;
}
.img_center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
